<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Title</title>
</head>
<body>
<form action="createTitle"
      th:action="@{/title/create}" method="post">
    <label for="name">Name</label>
    <input type="hidden" th:value="${title.id}" name="id" id="id">
    <input type="text" th:value="${title.name}" name="name" id="name">
    <input type="submit" value="Save">
</form>
<p><a th:href="@{/title}">Back</p>
</body>
</html>