<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Lesson</title>
</head>
<body>
<h1>Create Lesson</h1>
<form action="createLesson"
      th:action="@{/lesson/create}" method="post">
    <label for="name">Name</label>
    <input type="hidden" th:value="${lesson.id}" name="id" id="id">
    <input type="text" th:value="${lesson.name}" name="name" id="name">
    <input type="submit" value="Save">
</form>
<p><a th:href="@{/lesson}">Back</p>
</body>
</html>