<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Lesson</title>
</head>
<body>
<h1>Edit Lesson</h1>
<form action="updateItem"
      th:action="@{/lesson/} + ${lesson.id}" method="post">
    <label for="name">Name</label>
    <input type="text" th:value="${lesson.name}" name="name" id="name">
    <input type="submit" value="Save">
</form>
<form th:if="${inactive}" id="deleteLesson" th:action="'/lesson/delete/' + ${lesson.id}" method="post">
    <input type="hidden" name="id" th:value="${lesson.id}" />
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>
<p><a th:href="@{/lesson}">Back</p>
</body>
</html>