<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Study Group</title>
</head>
<body>
<h1>Create Study Group</h1>
<form action="createStudyGroup"
      th:action="@{/studyGroup/create}" method="post">
    <label for="name">Name</label>
    <input type="hidden" th:value="${studyGroup.id}" name="id" id="id">
    <input type="text" th:value="${studyGroup.name}" name="name" id="name">
    <input type="submit" value="Save">
</form>
<p><a th:href="@{/studyGroup}">Back</p>
</body>
</html>