<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Lesson Time</title>
</head>
<body>
<h1>Edit Lesson Time</h1>
<form action="updateLessonTime"
      th:action="@{/lessonTime/} + ${lessonTime.id}" method="post">
    <label for="startTime">Start Time</label>
    <input type="hidden" th:value="${lessonTime.id}" name="id" id="id">
    <input type="text" th:value="${lessonTime.startTime}" name="startTime" id="startTime"
           pattern="^(([0-9])|([0-1][0-9])|([2][0-3]))(:(([0-9])|([0-5][0-9])))?$" title="x:x">
    <label for="endTime">End Time</label>
    <input type="text" th:value="${lessonTime.endTime}" name="endTime" id="endTime"
           pattern="^(([0-9])|([0-1][0-9])|([2][0-3]))(:(([0-9])|([0-5][0-9])))?$" title="x:x">
    <label for="weekday">Week Day</label>
    <select id="weekday" th:object="${lessonTime}" th:field="*{weekday}">
        <option th:each="weekday : ${weekdays}" th:value="${weekday}" th:text="${weekday}"></option>
    </select>
    <input type="submit" value="Save">
</form>
<form th:if="${inactive}" id="deleteLessonTime" th:action="'/lessonTime/delete/' + ${lessonTime.id}" method="post">
    <input type="hidden" name="id" th:value="${lessonTime.id}" />
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>
<p><a th:href="@{/lessonTime}">Back</p>
</body>
</html>